<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqGlZRM_mq_oTHMxDX9aVwN8mgwWXwdm4</string>
	<key>GCM_SENDER_ID</key>
	<string>511279864836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.ub.lpmimanage.lpmi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lpmimanageapp-ab8e9</string>
	<key>STORAGE_BUCKET</key>
	<string>lpmimanageapp-ab8e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511279864836:ios:7352d378745af898076951</string>
</dict>
</plist>